{% extends "conf.html" %}
{% block content %}

    <form class="form__ui" onsubmit="buttonPress();" action="http://localhost:5000/add_pass" method="post">
      <div class="input__container">
              <p><input name="input__res" class="input__res input__ui" placeholder="input res" type="text" autocomplete="off"></p>
              <p><input name="input__pass" class="input__pass input__ui" placeholder="input password" type="text" autocomplete="off">
              </p>

      </div>
      <p><input class="input__submit" type="submit" value="submit" /></p>
      
    </form>
{% endblock %}